@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";
@import "assets/scss/components/custom-slick";
@import "assets/scss/main.css";
@import "assets/scss/menu.css";
@import "assets/scss/custom.css";
@import "assets/scss/megadropdown.css";
@import "assets/scss/dashbord_navitaion.css";
@import "assets/scss/ace-responsive-menu.css";
@import "assets/scss/components/input-range-slider";
@import "assets/scss/components/custom_theme.scss";
@import "assets/scss/components/dashboard.scss";
@import "assets/scss/responsive.css";

.parent-menu-active > .pro-inner-item > .pro-item-content {
  color: var(--color-primary) !important;
}
